body {
  min-height: 1000px;
  margin: 0;
  font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}

input {
  font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}

.navbar {
  height: 3.125rem;
  padding-top: 0.75rem;
  background-color: #003580;
  display: flex;
  justify-content: center;
  padding: 0 20px;
  background-color: #003580;
}
.navbar_container {
  width: 100%;
  max-width: 64rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar_container .logo {
  font-weight: 500;
}
.navbar_button {
  position: relative;
  font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
  font-weight: 500;
  color: #0071c2;
  margin-left: 1.25rem;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
.navbar_button:is(:last-child) {
  margin-right: 1.25rem;
}
.navbar_button::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: transparent;
  border-color: #0071c2;
  border: 1px solid #0071c2;
  box-sizing: border-box;
}
.navbar_button:hover {
  background-color: #F0F7FC;
}

.header {
  background-color: #003580;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  background-color: #003580;
  position: relative;
}
.header .btn_header {
  background-color: #006ce4;
  border-radius: 2px;
  width: 9.375rem;
  height: 3.125rem;
  border: 0;
  color: white;
  font-weight: 600;
  font-size: 16px;
  font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
  transition: background-color 0.15s ease-in;
}
.header .btn_header:hover {
  background-color: #01487A;
}
.header_container {
  width: 100%;
  max-width: 64rem;
  margin: 1.25rem 0 6.25rem 0;
}
.header_list {
  display: flex;
  gap: 2.5rem;
}
.header_list_item {
  font-size: 0.875rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 0.625rem;
  padding: 11px;
}
.header_list_item.active {
  border: 0.0625rem solid white;
  padding: 10px;
  border-radius: 1.25rem;
  background-color: hsla(0, 0%, 100%, 0.1);
}
.header_list_item:hover:not(.active) {
  padding: 11px;
  border-radius: 1.25rem;
  background-color: hsla(0, 0%, 100%, 0.1);
  cursor: pointer;
}
.header_title {
  font-size: 3rem;
}
.header_description {
  font-size: 1.5rem;
  margin: 1.25rem 0;
}
.header_search {
  width: 100%;
  max-width: 64rem;
  height: 3.875rem;
  background-color: #febb02;
  justify-self: end;
  position: absolute;
  bottom: -30px;
  border-radius: 0.125rem;
  display: flex;
  margin: 0 20px;
}
.header_search_item {
  height: 3.375rem;
  margin: 0.25rem;
  border-radius: 0.125rem;
  background-color: white;
  color: #6b6b6b;
  padding: 0.5rem;
  padding-left: 1rem;
  box-sizing: border-box;
}
.header_search_place {
  flex: 1;
  margin-right: 0.125rem;
  min-width: 280px;
}
.header_search_place .icon {
  height: 1.5rem;
  width: 1.5rem;
}
.header_search_time {
  margin-left: 0.125rem;
  margin-right: 0.125rem;
  width: 280px;
}
.header_search_time .icon {
  height: 1.25rem;
  width: 1.25rem;
}
.header_search_time span {
  cursor: pointer;
  -webkit-user-select: none; /* Safari */ /* IE 10 and IE 11 */
  -moz-user-select: none;
       user-select: none; /* Standard syntax */
}
.header_search_time .date {
  position: absolute;
  top: 62px;
}
.header_search_settings {
  margin-left: 0.125rem;
  width: 17.5rem;
  box-sizing: border-box;
  position: relative;
}
.header_search_settings .icon {
  height: 1.25rem;
  width: 1.25rem;
}
.header_search_settings span {
  cursor: pointer;
  -webkit-user-select: none; /* Safari */ /* IE 10 and IE 11 */
  -moz-user-select: none;
       user-select: none; /* Standard syntax */
}
.header_search_settings_container {
  height: 9.375rem;
  width: 100%;
  min-width: 13.75rem;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: white;
  box-sizing: border-box;
  position: absolute;
  top: 3.625rem;
  left: 0rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.header_search_settings_container_item {
  display: flex;
  padding: 0.3125rem 1.25rem;
  justify-content: space-between;
}
.header_search_settings_container_item span {
  cursor: default;
}
.header_search_settings_container_item_counter {
  display: flex;
  justify-content: space-around;
  width: 7.5rem;
  height: 1.875rem;
  border: 1px solid #6b6b6b;
  border-radius: 3px;
}
.header_search_settings_container_item_counter button {
  background-color: white;
  border: 0;
  cursor: pointer;
}
.header_search_button {
  padding: 0;
  margin-left: 0;
}
.header_search_button .btn_header {
  width: 100%;
  min-width: 108px;
  height: 100%;
  padding: 0;
  font-size: 20px;
}
.header_search span {
  display: flex;
  align-items: center;
  -moz-column-gap: 0.625rem;
       column-gap: 0.625rem;
  height: 100%;
  font-weight: 500;
}
.header_search input, .header_search ::-webkit-input-placeholder, .header_search span {
  border: none;
  outline: none;
  font-weight: 500;
  color: #262626;
  font-size: 0.875rem;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1024px;
  padding: 0 100px;
  margin-top: 50px;
}

.featured {
  width: 100%;
  height: 100%;
}
.featured .swiper-button-next, .featured .swiper-button-prev {
  --swiper-navigation-size: 13px;
  background-color: red;
  height: 20px;
  width: 20px;
  padding: 10px;
  border-radius: 30px;
  -webkit-user-select: none; /* Safari */ /* IE 10 and IE 11 */
  -moz-user-select: none;
       user-select: none; /* Standard syntax */
  right: -20px;
  z-index: 10;
  position: absolute;
}/*# sourceMappingURL=styles.css.map */