body {
  padding-bottom: 80px;
  margin: 0;
  font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}

input {
  font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}

.btn_blue {
  background-color: #006ce4;
  border-radius: 5px;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 10px;
  height: 36px;
  box-sizing: border-box;
  border: 0;
  color: white;
  font-weight: 600;
  font-size: 14px;
  font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
  transition: background-color 0.15s ease-in;
  cursor: pointer;
}
.btn_blue:hover {
  background-color: #01487A;
}

.navbar {
  height: 3.125rem;
  padding-top: 0.75rem;
  background-color: #003580;
  display: flex;
  justify-content: center;
  padding: 0 20px;
  background-color: #003580;
}
.navbar_container {
  width: 100%;
  max-width: 64rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar_container .logo {
  font-weight: 500;
}
.navbar_button {
  position: relative;
  font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
  font-weight: 500;
  color: #0071c2;
  margin-left: 1.25rem;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
.navbar_button:is(:last-child) {
  margin-right: 1.25rem;
}
.navbar_button::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: transparent;
  border-color: #0071c2;
  border: 1px solid #0071c2;
  box-sizing: border-box;
}
.navbar_button:hover {
  background-color: #F0F7FC;
}

.header {
  background-color: #003580;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  background-color: #003580;
  position: relative;
}
.header .btn_header {
  background-color: #006ce4;
  border-radius: 2px;
  width: 9.375rem;
  height: 3.125rem;
  border: 0;
  color: white;
  font-weight: 600;
  font-size: 16px;
  font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
  transition: background-color 0.15s ease-in;
}
.header .btn_header:hover {
  background-color: #01487A;
}
.header_container {
  width: 100%;
  max-width: 64rem;
  margin: 1.25rem 0 6.25rem 0;
}
.header_list {
  display: flex;
  gap: 2.5rem;
}
.header_list_item {
  font-size: 0.875rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 0.625rem;
  padding: 11px;
}
.header_list_item.active {
  border: 0.0625rem solid white;
  padding: 10px;
  border-radius: 1.25rem;
  background-color: hsla(0, 0%, 100%, 0.1);
}
.header_list_item:hover:not(.active) {
  padding: 11px;
  border-radius: 1.25rem;
  background-color: hsla(0, 0%, 100%, 0.1);
  cursor: pointer;
}
.header_title {
  font-size: 3rem;
}
.header_description {
  font-size: 1.5rem;
  margin: 1.25rem 0;
}
.header_search {
  width: 100%;
  max-width: 64rem;
  height: 3.875rem;
  background-color: #febb02;
  justify-self: end;
  position: absolute;
  bottom: -30px;
  border-radius: 6px;
  display: flex;
  margin: 0 20px;
}
.header_search_item {
  height: 3.375rem;
  margin: 0.25rem;
  border-radius: 0.125rem;
  background-color: white;
  color: #6b6b6b;
  padding: 0.5rem;
  padding-left: 1rem;
  box-sizing: border-box;
}
.header_search_place {
  flex: 1;
  margin-right: 0.125rem;
  min-width: 280px;
}
.header_search_place .icon {
  height: 1.5rem;
  width: 1.5rem;
}
.header_search_time {
  margin-left: 0.125rem;
  margin-right: 0.125rem;
  width: 280px;
  z-index: 3;
}
.header_search_time .icon {
  height: 1.25rem;
  width: 1.25rem;
}
.header_search_time span {
  cursor: pointer;
  -webkit-user-select: none; /* Safari */ /* IE 10 and IE 11 */
  -moz-user-select: none;
       user-select: none; /* Standard syntax */
}
.header_search_time .date {
  position: absolute;
  top: 62px;
}
.header_search_settings {
  margin-left: 0.125rem;
  width: 17.5rem;
  box-sizing: border-box;
  position: relative;
  z-index: 3;
}
.header_search_settings .icon {
  height: 1.25rem;
  width: 1.25rem;
}
.header_search_settings span {
  cursor: pointer;
  -webkit-user-select: none; /* Safari */ /* IE 10 and IE 11 */
  -moz-user-select: none;
       user-select: none; /* Standard syntax */
}
.header_search_settings_container {
  height: 180px;
  width: 100%;
  min-width: 13.75rem;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: white;
  box-sizing: border-box;
  position: absolute;
  top: 3.625rem;
  left: 0rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.header_search_settings_container_item {
  display: flex;
  padding: 0.3125rem 1.25rem;
  justify-content: space-between;
}
.header_search_settings_container_item span {
  cursor: default;
}
.header_search_settings_container_item_counter {
  display: flex;
  justify-content: space-around;
  width: 7.5rem;
  height: 1.875rem;
  border: 1px solid #6b6b6b;
  border-radius: 3px;
}
.header_search_settings_container_item_counter button {
  background-color: white;
  border: 0;
  cursor: pointer;
}
.header_search_button {
  padding: 0;
  margin-left: 0;
  background-color: #febb02;
}
.header_search_button .btn_header {
  width: 100%;
  min-width: 108px;
  height: 100%;
  padding: 0;
  font-size: 20px;
  border-radius: 6px;
}
.header_search span {
  display: flex;
  align-items: center;
  -moz-column-gap: 0.625rem;
       column-gap: 0.625rem;
  height: 100%;
  font-weight: 500;
}
.header_search input, .header_search ::-webkit-input-placeholder, .header_search span {
  border: none;
  outline: none;
  font-weight: 500;
  color: #262626;
  font-size: 0.875rem;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0 100px;
  margin-top: 50px;
}

.featured {
  width: 100%;
  max-width: 1024px;
}
.featured .swiper-button-next, .featured .swiper-button-prev {
  --swiper-navigation-size: 10px;
  color: black;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 20px;
  width: 20px;
  padding: 10px;
  border-radius: 30px;
  -webkit-user-select: none; /* Safari */ /* IE 10 and IE 11 */
  -moz-user-select: none;
       user-select: none; /* Standard syntax */
  top: 50px;
}
.featured .swiper-button-disabled {
  display: none;
}
.featured_item {
  width: 100%;
  max-width: 1024px;
}
.featured_item h2 {
  margin: 0;
}
.featured_item p {
  font-size: 16px;
  color: #6b6b6b;
  margin: 6px 0 12px 0;
}
.featured_item .swiper-slide {
  width: 154px;
}
.featured_item.offers .swiper-button-next, .featured_item.offers .swiper-button-prev {
  top: 82px;
}
.featured_item.offers .mySwiper {
  padding: 4px 5px 20px 5px;
}
.featured_item.offers .swiper-slide {
  display: grid;
  place-items: center;
  width: 500px;
}
.featured_item.offers .card_offers {
  height: 184px;
  width: 500px;
  padding: 10px 15px;
  box-sizing: border-box;
  box-shadow: 0 2px 8px 0 rgba(26, 26, 26, 0.16);
  border-radius: 6px;
}
.featured_item.offers .card_offers_fly {
  display: grid;
  align-items: center;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 70% 30%;
  grid-template-areas: " title img " " content img " " button img ";
}
.featured_item.offers .card_offers_fly .title {
  grid-area: title;
}
.featured_item.offers .card_offers_fly .content {
  grid-area: content;
}
.featured_item.offers .card_offers_fly .button {
  grid-area: button;
}
.featured_item.offers .card_offers_fly .img {
  grid-area: img;
  height: 140px;
  width: 140px;
}
.featured_item.offers .card_offers_fly h4 {
  margin: 0;
}
.featured_item.offers .card_offers_fly button {
  margin-top: 16px;
}
.featured_item.offers .card_offers_img {
  height: 184px;
  width: 500px;
  padding: 10px 15px;
  box-sizing: border-box;
  border-radius: 6px;
  color: white;
  display: grid;
  align-items: center;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 70% 30%;
  grid-template-areas: " title img " " content img " " button img ";
}
.featured_item.offers .card_offers_img .title {
  grid-area: title;
}
.featured_item.offers .card_offers_img .content {
  grid-area: content;
}
.featured_item.offers .card_offers_img .button {
  grid-area: button;
}
.featured_item.offers .card_offers_img .img {
  grid-area: img;
  height: 140px;
  width: 140px;
}
.featured_item.offers .card_offers_img h4 {
  margin: 0;
}
.featured_item.offers .card_offers_img.woman {
  background: url("https://q-xx.bstatic.com/xdata/images/xphoto/714x300/184699273.jpeg?k=503e088a7d417c30217b5109dda404d2c2050001588cf7a45fca63e3363573de&o=") 0 0 no-repeat;
  background-size: cover;
}
.featured_item.offers .card_offers_img.mountain {
  background: url("https://q-xx.bstatic.com/xdata/images/xphoto/714x300/182431478.jpeg?k=fcbb6d5552a1d4ff338978206c449077ab8ad696050cfd7e4edef1ddc11225cc&o=") 0 0 no-repeat;
  background-size: cover;
}
.featured_item.planner {
  padding-top: 20px;
}
.featured_item.planner .planner_buttons {
  display: flex;
  gap: 10px;
}
.featured_item.planner .planner_buttons .btn_white {
  padding: 11px 16px;
  cursor: pointer;
  border: 0;
  background-color: white;
  font-size: 0.875rem;
  display: flex;
  justify-content: center;
  gap: 7px;
  width: -moz-fit-content;
  width: fit-content;
}
.featured_item.planner .planner_buttons .btn_white img {
  height: 15px;
}
.featured_item.planner .planner_buttons .btn_white.active {
  background-color: #F0F7FC;
  border: 1px solid #006ce4;
  border-radius: 20px;
  color: #006ce4;
}
.featured_item.planner .planner_buttons .btn_white.active img {
  filter: invert(42%) sepia(94%) saturate(7166%) hue-rotate(203deg) brightness(100%) contrast(101%);
}
.featured_item.planner .planner_buttons .btn_white:hover {
  border-radius: 20px;
  background-color: rgba(26, 26, 26, 0.06);
}
.featured_item.planner .planner_cards {
  padding-top: 10px;
}
.featured_item.planner .planner_cards .swiper-slide {
  width: 154px;
}
.featured_item.inspiration {
  padding-top: 20px;
}
.featured_item.inspiration .inspiration_cards {
  padding-top: 15px;
}
.featured_item.inspiration .inspiration_cards .swiper-slide {
  width: 262px;
  height: 240px;
}
.featured_item.inspiration .inspiration_cards .swiper-slide.bigger {
  width: 542px;
  height: 367px;
  border-radius: 8px;
  background: url(https://bstatic.com/data/xphoto/1182x887/516/51656150.jpg?size=S);
  background-size: cover;
}
.featured_item.inspiration .inspiration_cards .swiper-slide.bigger p {
  color: black;
}
.featured .cardImage {
  height: 100%;
  width: 100%;
}
.featured .cardImage h4 {
  margin: 3px 0;
}
.featured .cardImage img {
  width: 100%;
  border-radius: 8px;
}
.featured .cardImage_properties {
  font-size: 14px;
  color: #6b6b6b;
}/*# sourceMappingURL=styles.css.map */