.featured{
  width: 100%;
  max-width: 64rem;

  .swiper-button-next, .swiper-button-prev{
    --swiper-navigation-size: 10px;
    color: black;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 1.25rem;
    width: 1.25rem;
    padding: 0.625rem;
    border-radius: 30px;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    top: 50px;
  }
  .swiper-button-disabled{
    display: none;
  }
  &_item{
    width: 100%;
    max-width: 64rem;
    h2{
      margin: 0;
    }
    p{
      font-size: 1rem;
      color: $grey;
      margin: 0.375rem 0 0.75rem 0;
    }
    .swiper-slide{
      width: 9.75rem;

      cursor: pointer;
    }
    &.offers{
      .swiper-button-next, .swiper-button-prev{
        top: 5.125rem;
      }
      .mySwiper{
        padding: 0.625rem 0.3125rem 1.25rem 0.3125rem;
      }

      .swiper-slide{
        display: grid;
        place-items: center;
        width: 31.25rem;
        cursor: pointer;
      }


      .card_offers{
        height: 11.5rem;
        width: 31.25rem;
        padding: 0.625rem 0.9375rem;
        box-sizing: border-box;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: 6px;
        &_fly{
          display: grid;
          align-items: center;
          grid-template-rows: 1fr 1fr 1fr;
          grid-template-columns: 70% 30%;
          grid-template-areas: 
          ' title img '
          ' content img '
          ' button img ' 
          ; 

          .title{
            grid-area: title;
          }

          .content{
            grid-area: content;
          }

          .button{
            grid-area: button;
          }

          .img{
            grid-area: img;
            height: 140px;
            width: 140px;
          }
          
          h4{
            margin: 0;
          }
          button{
            margin-top: 16px;
          }
        }
        &_img{
          height: 11.5rem;
          width: 31.25rem;
          padding: 0.625rem 0.9375rem;
          box-sizing: border-box;
          border-radius: 0.375rem;
          
          color: white;
          display: grid;
          align-items: center;
          grid-template-rows: 1fr 1fr 1fr;
          grid-template-columns: 70% 30%;
          grid-template-areas: 
          ' title img '
          ' content img '
          ' button img ' 
          ; 

          .title{
            grid-area: title;
          }

          .content{
            grid-area: content;
          }

          .button{
            grid-area: button;
          }

          .img{
            grid-area: img;
            height: 8.75rem;
            width: 8.75rem;
          }
          
          h4{
            margin: 0;
          }

          &.woman{
            background: url('https://q-xx.bstatic.com/xdata/images/xphoto/714x300/184699273.jpeg?k=503e088a7d417c30217b5109dda404d2c2050001588cf7a45fca63e3363573de&o=') 0 0 no-repeat;
            background-size: cover;
          }

          &.mountain{
            background: url('https://q-xx.bstatic.com/xdata/images/xphoto/714x300/182431478.jpeg?k=fcbb6d5552a1d4ff338978206c449077ab8ad696050cfd7e4edef1ddc11225cc&o=') 0 0 no-repeat;
            background-size: cover;
          }


        }
      }

      
    }
    &.planner{
      padding-top: 1.25rem;

      .planner_buttons{
        display: flex;
        flex-wrap: wrap;
        gap: 0.625rem;
        .btn_white{
          padding: 0.6875rem 1rem;
          cursor: pointer;
          border: 0;
          background-color: white;
          font-size: 0.875rem;
          display: flex;
          justify-content: center;
          gap: 7px;
          width: fit-content;
          img{
            height: 0.9375rem;
          }
          &.active{
            background-color: $whiteHover;
            border: 1px solid $blue2;
            border-radius: 20px;
            color: $blue2;
            img{
              filter: invert(42%) sepia(94%) saturate(7166%) hue-rotate(203deg) brightness(100%) contrast(101%);
            }
          }
          &:hover{
            border-radius: 20px;
            background-color: $lightGrey;
          }
        }
      }

      .planner_cards{
        padding-top: 10px;

        .swiper-slide{
          width: 9.75rem;
        }
      }
    }
    &.inspiration{
      padding-top: 1.25rem;
      .inspiration_header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        a{
          text-decoration: none;
          font-size: 16px;
          color: $blue2;
          font-weight: 500;
          padding-right: 4px;
          &:hover{
            text-decoration: underline;
          }
        }
      }
      .inspiration_cards{
        padding-top: 0.9375rem;
        .swiper-button-next, .swiper-button-prev{
          top: 144px;
        }
        .swiper-slide{
          width: 15.125rem;
          img{
            height: 15rem;
            object-fit: cover;
          }
          cursor: pointer;
          &.bigger{
            width: 31.5625rem;
            height: 22.9375rem;
            overflow: hidden;
            border-radius: 8px;
            position: relative;
            .main_image{
              width: 100%;
              height: 100%;
              background: url(https://bstatic.com/data/xphoto/1182x887/516/51656150.jpg?size=S);
              background-size: cover;
              background-position: center;
              transition: all 0.3s ease-in-out;
              display: flex;
              flex-direction: column;
              justify-content: flex-end;
              box-sizing: border-box;
              padding: 0 10px;
              
              &:hover{
                transform: scale(1.1);
              }
            }

            .main_image_text{
              position: absolute;
              padding: 0 0.625rem;
              bottom: 0;
              color: white;
              h3{
                margin: 3px;
              }
              p{
                color: white;
              }
            }
            
          }
        }
      }
      
    }
    &.properties{
      padding-top: 1.875rem;
      h2{
        padding-bottom: 1.25rem;
      }
      .properties_cards{

        .swiper-slide{
          width: 240px;
        }
      }
    }
  }


  .cardImage{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    h4{
      margin: 0.1875rem 0;
    }
    img{
      width: 100%;
      border-radius: 0.5rem;
    }
    &_properties{
      font-size: 0.875rem;
      color: $grey;
      .bold{
        color: black;
      }
    }
    &_review{
      display: flex;
      align-items: center;
      gap: 8px;
      font-size: 12px;
      color: $darkGrey;
      padding-top: 3px;
      
      button{
        font-size: 12px;
        background-color: $blue;
        color: white;
        border: 0;
        border-radius: 5px 5px 5px 0;
        padding: 4px;
      }
    }
  }

}