.featured{
  width: 100%;
  max-width: 1024px;

  .swiper-button-next, .swiper-button-prev{
    --swiper-navigation-size: 10px;
    color: black;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 20px;
    width: 20px;
    padding: 10px;
    border-radius: 30px;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    top: 50px;
  }
  .swiper-button-disabled{
    display: none;
  }
  &_item{
    width: 100%;
    max-width: 1024px;
    h2{
      margin: 0;
    }
    p{
      font-size: 16px;
      color: $grey;
      margin: 6px 0 12px 0;
    }
    .swiper-slide{
      width: 154px;

      cursor: pointer;
    }
    &.offers{
      .swiper-button-next, .swiper-button-prev{
        top: 82px;
      }
      .mySwiper{
        padding: 4px 5px 20px 5px;
      }

      .swiper-slide{
        display: grid;
        place-items: center;
        width: 500px;
        cursor: pointer;
      }


      .card_offers{
        height: 184px;
        width: 500px;
        padding: 10px 15px;
        box-sizing: border-box;
        box-shadow: 0 2px 8px 0 rgba(26,26,26,0.16);
        border-radius: 6px;
        &_fly{
          display: grid;
          align-items: center;
          grid-template-rows: 1fr 1fr 1fr;
          grid-template-columns: 70% 30%;
          grid-template-areas: 
          ' title img '
          ' content img '
          ' button img ' 
          ; 

          .title{
            grid-area: title;
          }

          .content{
            grid-area: content;
          }

          .button{
            grid-area: button;
          }

          .img{
            grid-area: img;
            height: 140px;
            width: 140px;
          }
          
          h4{
            margin: 0;
          }
          button{
            margin-top: 16px;
          }
        }
        &_img{
          height: 184px;
          width: 500px;
          padding: 10px 15px;
          box-sizing: border-box;
          border-radius: 6px;
          
          color: white;
          display: grid;
          align-items: center;
          grid-template-rows: 1fr 1fr 1fr;
          grid-template-columns: 70% 30%;
          grid-template-areas: 
          ' title img '
          ' content img '
          ' button img ' 
          ; 

          .title{
            grid-area: title;
          }

          .content{
            grid-area: content;
          }

          .button{
            grid-area: button;
          }

          .img{
            grid-area: img;
            height: 140px;
            width: 140px;
          }
          
          h4{
            margin: 0;
          }

          &.woman{
            background: url('https://q-xx.bstatic.com/xdata/images/xphoto/714x300/184699273.jpeg?k=503e088a7d417c30217b5109dda404d2c2050001588cf7a45fca63e3363573de&o=') 0 0 no-repeat;
            background-size: cover;
          }

          &.mountain{
            background: url('https://q-xx.bstatic.com/xdata/images/xphoto/714x300/182431478.jpeg?k=fcbb6d5552a1d4ff338978206c449077ab8ad696050cfd7e4edef1ddc11225cc&o=') 0 0 no-repeat;
            background-size: cover;
          }


        }
      }

      
    }
    &.planner{
      padding-top: 20px;

      .planner_buttons{
        display: flex;
        gap: 10px;
        .btn_white{
          padding: 11px 16px;
          cursor: pointer;
          border: 0;
          background-color: white;
          font-size: 0.875rem;
          display: flex;
          justify-content: center;
          gap: 7px;
          width: fit-content;
          img{
            height: 15px;
          }
          &.active{
            background-color: $whiteHover;
            border: 1px solid $blue2;
            border-radius: 20px;
            color: $blue2;
            img{
              filter: invert(42%) sepia(94%) saturate(7166%) hue-rotate(203deg) brightness(100%) contrast(101%);
            }
          }
          &:hover{
            border-radius: 20px;
            background-color: $lightGrey;
          }
        }
      }

      .planner_cards{
        padding-top: 10px;

        .swiper-slide{
          width: 154px;
        }
      }
    }
    &.inspiration{
      padding-top: 20px;
      .inspiration_cards{
        padding-top: 15px;
        .swiper-button-next, .swiper-button-prev{
          top: 144px;
        }
        .swiper-slide{
          width: 242px;
          img{
            height: 240px;
            object-fit: cover;
          }
          cursor: pointer;
          &.bigger{
            width: 505px;
            height: 367px;
            overflow: hidden;
            border-radius: 8px;
            position: relative;
            .main_image{
              width: 100%;
              height: 100%;
              background: url(https://bstatic.com/data/xphoto/1182x887/516/51656150.jpg?size=S);
              background-size: cover;
              background-position: center;
              transition: all 0.3s ease-in-out;
              display: flex;
              flex-direction: column;
              justify-content: flex-end;
              box-sizing: border-box;
              padding: 0 10px;
              
              &:hover{
                transform: scale(1.1);
              }
            }

            .main_image_text{
              position: absolute;
              padding: 0 10px;
              bottom: 0;
              color: white;
              h3{
                margin: 3px;
              }
              p{
                color: white;
              }
            }
            
          }
        }
      }
      
    }
  }


  .cardImage{
    height: 100%;
    width: 100%;
    h4{
      margin: 3px 0;
    }
    img{
      width: 100%;
      border-radius: 8px
    }
    &_properties{
      font-size: 14px;
      color: $grey;
    }
  }

}