.header{
  background-color: $blue;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  background-color: $blue;
  position: relative;

  .btn_header{
    background-color: $blue2;
    border-radius: 2px;
    width: 9.375rem;
    height: 3.125rem;
    border: 0;
    color: white;
    font-weight: 600;
    font-size: 16px;
    font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    transition: background-color 0.15s ease-in;
  
    &:hover{
      background-color: $darkBlue;
    }
  }
  
  &_container{
    width: 100%;
    max-width: 64rem;
    margin: 1.25rem 0 6.25rem 0;
    @include breakpoint-down(medium){
      display: flex;
      flex-direction: column;
      align-items: center;
      p, h1{
        text-align: center;
      }
    }
    
  }

  &_list{
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
    &_item{
      -webkit-user-select: none; /* Safari */
      -ms-user-select: none; /* IE 10 and IE 11 */
      user-select: none; /* Standard syntax */
      font-size: 0.875rem;
      font-weight: 500;
      display: flex;
      align-items: center;
      gap: 0.625rem;
      padding: 11px;
      &.active{
        border: 0.0625rem solid white;
        padding: 10px;
        border-radius: 1.25rem;
        background-color: $blueHover
      }
      &:hover{
        &:not(.active) {
          padding: 11px;
          border-radius: 1.25rem;
          background-color: $blueHover;
          cursor: pointer;
        }
      }

    }
    @include breakpoint-down(medium){
      justify-content: center;
      text-align: center;
    }
  }

  &_title{
    font-size: 3rem;
  }

  &_description{
    font-size: 1.5rem;
    margin: 1.25rem 0;
  }

  &_search{
    width: 100%;
    max-width: 64rem;
    height: 3.875rem;
    background-color: $orange;
    justify-self: end;
    position: absolute;
    bottom: -30px;
    border-radius: 6px;
    display: flex;
    margin: 0 20px;

    &_item{
      height: 3.375rem;
      margin: 0.25rem;
      border-radius: 0.125rem;
      background-color: white;
      color: $grey;
      padding: 0.5rem;
      padding-left: 1rem;
      box-sizing: border-box;
      

    }

    &_place{
      flex: 1;
      margin-right: 0.125rem;
      min-width: 280px;
      .icon{
        height: 1.5rem;
        width: 1.5rem;
      }
    }

    &_time{
      margin-left: 0.125rem;
      margin-right: 0.125rem;
      width: 280px;
      z-index: 4;
      position: relative;
      .icon{
        height: 1.25rem;
        width: 1.25rem;
      }
      span{
        cursor: pointer;
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
      }
      .date{
        position: absolute;
        top: 58px;
        left: 0;
        @include breakpoint-down(medium){
          top: 54px;
          left: calc((100% / 2) - 175px);
        }
      }
    }

    &_settings{
      margin-left: 0.125rem;
      width: 17.5rem;
      box-sizing: border-box;
      position: relative;
      z-index: 3;
      .icon{
        height: 1.25rem;
        width: 1.25rem;
      }
      span{
        cursor: pointer;
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
      }
      &_container{
        height: 180px;
        width: 100%;
        min-width: 13.75rem;
        border-radius: 3px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        background-color: white;
        box-sizing: border-box;
        position: absolute;
        top: 3.625rem;
        left: 0rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        &_item{
          display: flex;
          padding: 0.3125rem 1.25rem;
          justify-content: space-between;
          
          span{
            cursor: default;
          }
          &_counter{
            display: flex;
            justify-content: space-around;
            width: 7.5rem;
            height: 1.875rem;
            border: 1px solid $grey;
            border-radius: 3px;
            

            button{
              background-color: white;
              border: 0;
              cursor: pointer;
            }

            

          }
        }
      }
    }


    &_button{
      padding: 0;
      margin-left: 0;
      background-color: $orange;
      .btn_header{
        width: 100%;
        min-width: 108px;
        height: 100%;
        padding: 0;
        font-size: 20px;
        border-radius: 6px;
      }
    }

    @include breakpoint-down(medium){
      flex-direction: column;
      align-items: center;
      height: fit-content;
      width: calc(100% - 20px);
      bottom: -10.3125rem;
      &_item:not(.header_search_button){
        min-height: 54px;
        width: calc(100% - 10px);
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      &_button{
        width: calc(100% - 10px);
      }
    }

    span {
      display: flex;
      align-items: center;
      column-gap: 0.625rem;
      height: 100%;
      font-weight: 500;
    }

    input, ::-webkit-input-placeholder, span{
      border: none;
      outline: none;
      font-weight: 500;
      color: $blackLight;
      font-size: 0.875rem;
    }

    
  }

  


}