$blue: #003580;
$blueHover: hsla(0,0%,100%,.1);
$lightBlue: #0071c2;
$blue2: #006ce4;
$darkBlue: #01487A;
$orange: #febb02;
$grey: #6b6b6b;
$lightGrey: rgba(26,26,26,0.06);
$whiteHover: #F0F7FC;
$blackLight: #262626;